.boxes {
    display: flex;
    padding: 30px;
    padding-top: 0;
    background: #c4c4c4;
    padding-left: 45px;
}

.boxes .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow: hidden;
    border-radius: 32px;
    background: #fafafa;
    height: 100%;
    width: 90%;
    padding: 10px;
    margin: 5px;
    
}

.box h2 {
    margin-bottom: -3rem;
    z-index: 1;
}

.box img {
    width: 90%;
    height: 90%;
}

.box button {
    border-radius: 20px;
    cursor: pointer;
    outline: none;
    width: 140px;
    height: 35px;
    margin-top: -1.5rem;
    margin-bottom: 1rem;
}