header {
    grid-area: h;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    height: 80px;
    border-bottom: 1px black solid;
    background: #C4C4C4;

}


.menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;

    justify-content: center;
    align-items: center;
    grid-gap: 10px;
}
