#how-it-works{
    text-align: center;
}

.cards{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 30px;
    padding-top: 0;
    padding-left: 45px;
}

.cards .card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 80%;
    align-items: center;
    text-align: center;
    border-radius: 32px;
    min-height: 100%;
    width: 90%;
    padding: 1rem;
    background: #B8B8B8;
}
.card p {
    font-weight: lighter;
    text-align: center;
    font-size: 18px;
}

@media screen and (max-width: 1024px) {
    .cards{
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }
    .cards .card {
        min-height: 50%;
    }
}